/* Base Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:cursive;
    background: linear-gradient(140deg, #f7f8f9, #0d0ac8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.15);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 400px;
    transition: all 0.3s ease;
  }
  
  .login-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-align: center;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  input {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  button {
    font-family: cursive;
    padding: 15px;
    background-color:#3330d3;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    font-family: cursive;
    background-color:#3330d3;
    transform: translateY(-3px);
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-me label {
    color: #fff;
    margin-left: 8px;
    font-size: 0.9rem;
  }
  
  #errorMessage {
    color: #ff6b6b;
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .login-container {
      padding: 1.5rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    input, button {
      font-size: 0.9rem;
      padding: 12px;
    }
  }
  